# Created by .ignore support plugin (hsz.mobi)
.idea
node_modules
build/out
/build
/resource/.sass-cache/
/typings/
/resource/process/*/*.js
/**/*.css
/**/*.css.map
/**/*.js.map
/resource/node_modules
/resource/dist

# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
/.vscode
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/resource/e2e/*.js
/resource/e2e/*.map

#System Files
.DS_Store
Thumbs.db
