extends layout/html

block body
    .appliaction
        include piece/loding
block script
    include layout/ngLib
    script(src="/resource/process/systemjs.config.js")
    script
        | System.import('#{module}').catch(function (err) {
        | console.error(err);
        | });