extends layout/html

block body
    app-root loading...
block script
    script(src='/inline.js')
    script(src='/main.bundle.js')
    script(src='/styles.bundle.js')
    //script(src='http://localhost:4200/inline.js')
    //script(src='http://localhost:4200/main.bundle.js')
    //script(src='http://localhost:4200/styles.bundle.js')
