extends layout/html
block head
    link(href='/stylesheets/login.css', rel='stylesheet', type='text/css', media='all')
    script(src='/javascripts/login.js')

block body
    .login
        h2 Moondust
        .login-top
            h1 登陆
            form(class='form-login' action='/login' method='post')
                input(type='text', value='',name='username',placeholder='用户名')
                input(type='password', value='', name='password',placeholder='密码')
            .forgot
                a(href='#') 忘记密码
                input(type='submit', value='登陆')
        .login-bottom
    .copyright
        p
            | Copyright © 2015.Company name All rights reserved.
            a(target='_blank', href='http://www.moondust.cc/') moondust
            |  - More Templates
            a(href='http://www.cssmoban.com/', target='_blank', title='moondust') moondust