extends layout/html
block head
    link(rel='stylesheet', href='/resource/plugins/font-awesome/css/font-awesome.css')
    link(rel='stylesheet', href='/resource/stylesheets/form-elements.css')
    link(rel='stylesheet', href='/resource/stylesheets/style.css')
    link(rel='stylesheet', href='/resource/plugins/loader/loaders.css')
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')


block body
    .login
        include piece/loding
block script
    include layout/ngLib
    script( src="/resource/process/login/systemjs.config.js")
    script
        | System.import('login').catch(function (err) {
        | console.error(err);
        | });