<div class="container" style="color:white;">
    <div class="row login-container">
        <div class="form-bottom col-lg-4 col-lg-offset-4 text-center login-box">
            <form class="login-form" role="form" action="/login" method="post" (submit)="false">
                <small class="text-danger" *ngIf="usernameErrorMsg">{{usernameErrorMsg}}</small>
                <small class="text-danger" *ngIf="passwordErrorMsg">{{passwordErrorMsg}}</small>
                <div class="form-group" [class.has-error]="usernameError||usernameErrorMsg">
                    <label class="sr-only ">Username</label>
                    <input class="cricle-radus form-username form-control " [class.form-control-error]="usernameError"
                           [(ngModel)]="username"
                           (change)="usernameError=username.length<=6"
                           (blur)="usernameError=username.length<=6"
                           (focus)="usernameError=false"
                           name="username"
                           placeholder="用户名..."
                           type="text">
                </div>
                <div class="form-group" [class.has-error]="passwordError||passwordErrorMsg">
                    <label class="sr-only">Password</label>
                    <input class="cricle-radus form-password form-control" [class.form-control-error]="passwordError"
                           [(ngModel)]="password"
                           (change)="passwordError=password.length<=6"
                           (blur)="passwordError=password.length<=6"
                           (focus)="passwordError=false"
                           name="password"
                           placeholder="密码..."
                           type="password">
                </div>
                <div class="form-group ">
                    <button class="btn btn-danger cricle-radus" type="submit" (click)="submitRegister()">登录</button>
                    <button class="btn btn-success  cricle-radus" (click)="registerModal.show()">注册</button>
                </div>

            </form>
        </div>
    </div>

</div>

<div bsModal #registerModal="bs-modal" id="registerModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="register-container" [registerModal]="registerModal"></div>
    </div>
</div>

