<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" (click)="registerModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">欢迎注册</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="form-bottom col-lg-8 col-lg-offset-2 ">
                <form *ngIf="registerCode.length==0" class="login-form" role="form" action="/sendVcode" method="post" (submit)="false">
                    <div class="form-group " [class.has-error]="mobileError">
                        <label class="sr-only ">Username</label>
                        <input class="cricle-radus form-username form-control "
                               [class.form-control-error]="mobileError"
                               [(ngModel)]="mobile"
                               (keyup)="formatMobile()"
                               (blur)="validateMobile()"
                               (focus)="mobileError=false"
                               name="mobile"
                               placeholder="输入手机号..."
                               maxlength="11"
                               type="text">
                    </div>
                    <div class="form-group form-inline" [class.has-error]="validateError">
                        <label class="sr-only">Password</label>
                        <input class="cricle-radus form-password form-control pull-left "
                               [class.form-control-error]="validateError"
                               [(ngModel)]="validateCode"
                               (focus)="validateError=false"
                               name="validateCode"
                               placeholder="验证码..."
                               maxlength="6"
                               type="text">
                        <button type="button" class="btn btn-warning cricle-radus pull-right" (click)="sendValidateCode()"[disabled]="cantSendNow">{{sendButtonTitle}}</button>
                    </div>
                </form>

                <form *ngIf="registerCode.length>0" class="login-form" role="form" action="/register" method="post" (submit)="false">
                    <div class="form-group " [class.has-error]="mobileError">
                        <label class="sr-only ">Username</label>
                        <input class="cricle-radus form-username form-control "
                               [class.form-control-error]="mobileError"
                               name="mobile"
                               placeholder="输入密码..."
                               maxlength="20"
                               type="text">
                    </div>
                    <div class="form-group" [class.has-error]="validateError">
                        <label class="sr-only">Password</label>
                        <input class="cricle-radus form-password form-control pull-left "
                               [class.form-control-error]="validateError"
                               placeholder="确认密码..."
                               maxlength="20"
                               type="text">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary cricle-radus" (click)="registerModal.hide()">取消</button>
        <button type="button" class="btn btn-success cricle-radus" (click)="getRegisterCode()">注册</button>
    </div>
</div>


