doctype html
html
    head
        -if (title!=null)
          title=title
        -else
          title Moondust
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href='/favicon.svg',rel='shortcut icon',sizes='any')
        script(src='/plugins/jquery/jquery-3.1.1.min.js')
        block head
    body
        block body