doctype html
html
    head
        title=title
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        link(href='/favicon.svg',rel='shortcut icon',sizes='any')
        link(href='/resource/plugins/bootstrap/css/bootstrap.css',rel='stylesheet')
        //if IE
          link(href='/stylesheets/ie.css', media='screen, projection', rel='stylesheet', type='text/css')
        block head
    body
        block body
        block script
