div.login-container .form-group, div.register-container .form-group {
  position: relative;
  span.error {
    color: white;
    font-size: 15px;
    text-align: right;
    position: absolute;
    right: 15px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: orange;
    border-radius: 1.5em;
    top: 8px;
  }
}
div.login-container {
  margin-top: 25%;
  opacity: 0.9;
  .login-box {
    padding-top: 100px;
    padding-bottom: 10px;
    border-radius: 10px;
    background-color: whitesmoke;
    box-shadow: 0 0 8px #797979;
    div button {
      width: 49%;
    }
  }
}


